{{!-- <div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About Us</h5>
                    <h1 class="display-4">Best Medical Care For Yourself and Your Family</h1>
                </div>
                <p>At Aysha Clinic, we are committed to providing compassionate and comprehensive healthcare
                    services. Our experienced medical team is dedicated to ensuring the well-being of every patient,
                    offering personalized care in a welcoming environment. Your health and comfort are our top
                    priorities.</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                            <h6 class="mb-0">Qualified<small class="d-block text-primary">Doctors</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                            <h6 class="mb-0">Emergency<small class="d-block text-primary">Services</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                            <h6 class="mb-0">Accurate<small class="d-block text-primary">Testing</small></h6>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row gx-5">

                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-4">Our
                            founder</h5>
                        <h1 class="display-4">MUHAMMED HABEEB CK </h1>
                    </div>
                    <p> <span class="text-primary">Muhammed Habeeb Cheriya Kizkakkayil </span>is the founder of Aysha
                        Clinic,
                        established on March 31, 2022, with a clear mission: to make quality
                        healthcare accessible to everyone, regardless of financial circumstances. With
                        a deep commitment to affordable care, Muhammed Habeeb created Aysha
                        Clinic to ensure that patients receive the best possible treatment at a fair cost.
                        His vision is rooted in the belief that healthcare is a fundamental right, and he
                        works tirelessly to provide compassion</p>

                </div>
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100 mt-4">
                        <img class="position-absolute w-100 h-100 rounded" src="img/founder.jpg"
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-6">
                        <div class="mb-4 mt-4">
                            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-4">Our
                                Mission</h5>
                        </div>
                        <p>At Aysha Clinic, our mission is to deliver high-quality, patient-centered healthcare with
                            compassion and professionalism. We are committed to fostering wellness, offering advanced
                            medical services, and ensuring every patient receives personalized, holistic care for a
                            healthier tomorrow.</p>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="mb-4 mt-4">
                            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-4">Our
                                Vision</h5>
                        </div>
                        <p>Our vision is to be a leading healthcare provider, recognized for our excellence in medical
                            care and innovation. We aim to create a healthier community by continuously improving our
                            services, embracing new technologies, and promoting a culture of health and well-being.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>



</div> --}}



    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="img/about.jpg"
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About Us</h5>
                        <h1 class="display-4">Best Medical Care For Yourself and Your Family</h1>
                    </div>
                    <p>At Aysha Clinic, we are committed to providing compassionate and comprehensive healthcare
                        services. Our experienced medical team is dedicated to ensuring the well-being of every patient,
                        offering personalized care in a welcoming environment. Your health and comfort are our top
                        priorities.</p>
                    <div class="row g-3 pt-3">
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                                <h6 class="mb-0">Qualified<small class="d-block text-primary">Doctors</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                                <h6 class="mb-0">Emergency<small class="d-block text-primary">Services</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                                <h6 class="mb-0">Accurate<small class="d-block text-primary">Testing</small></h6>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row gx-5">
                    <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                        <div class="position-relative h-100 mt-4">
                            <img class="position-absolute w-100 h-100 rounded" src="/img/founder.jpg"
                                style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="mb-4">
                            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-4">Our
                                founder</h5>
                            <h1 class="display-4">MUHAMMED HABEEB CK </h1>
                        </div>
                        <p> <span class="text-primary">Muhammed Habeeb Cheriya Kizkakkayil </span>is the founder of Aysha Clinic,
                            established on March 31, 2022, with a clear mission: to make quality
                            healthcare accessible to everyone, regardless of financial circumstances. With
                            a deep commitment to affordable care, Muhammed Habeeb created Aysha
                            Clinic to ensure that patients receive the best possible treatment at a fair cost.
                            His vision is rooted in the belief that healthcare is a fundamental right, and he
                            works tirelessly to provide compassion</p>

                    </div>
                    <div class="row ">
                        <div class="col-lg-6">
                            <div class="mb-4 mt-4">
                                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-4">Our Mission</h5>
                            </div>
                            <p>At Aysha Clinic, our mission is to deliver high-quality, patient-centered healthcare with compassion and professionalism. We are committed to fostering wellness, offering advanced medical services, and ensuring every patient receives personalized, holistic care for a healthier tomorrow.</p>
                        </div>
                    
                        <div class="col-lg-6 ">
                            <div class="mb-4 mt-4" >
                                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-4">Our Vision</h5>
                            </div>
                            <p>Our vision is to be a leading healthcare provider, recognized for our excellence in medical care and innovation. We aim to create a healthier community by continuously improving our services, embracing new technologies, and promoting a culture of health and well-being.</p>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>



    </div>
    <!-- About End -->