
    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Testimonial</h5>
                <h1 class="display-4">Patients Say About Our Services</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="img/pic-3.jpeg" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                    style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4 fw-normal">I visited Aysha Clinic for fever treatment and had a great
                                experience. The staff was friendly, and the doctor provided excellent care. I felt well
                                taken care of, and the clinic was clean and welcoming.</p>
                            <hr class="w-25 mx-auto">
                            <h3>Jishnu vs</h3>
                            <h6 class="fw-normal text-primary mb-3">Software developer</h6>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="img/pic-1.jpeg" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                    style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4 fw-normal">Best clinic in Balussery. Good Doctors and facilities.</p>
                            <hr class="w-25 mx-auto">
                            <h3>Kritheesh</h3>
                            <h6 class="fw-normal text-primary mb-3">marketing manager</h6>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-3.jpg" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                    style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4 fw-normal">I recently visited Aysha Clinic in Vattoli Bazar, and had a great experience. 
                                                      The staff was friendly, the clinic was well-maintained, and the service was professional.
                                                       Highly recommend for anyone seeking quality healthcare in the area!</p>
                            <hr class="w-25 mx-auto">
                            <h3>Ijaz Muhammed</h3>
                            <h6 class="fw-normal text-primary mb-3">Patient</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <a href="https://g.page/r/CYJVIgr1y7mdEAE/review"
                class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2 mt-4 align-items-center bg-primary">view more</a>
        </div>
    </div>
    <!-- Testimonial End -->
    {{!-- <div class="fixed-buttons" >
        <a href="tel:+917558001212" class="call-btn" title="Call"><i class="fas fa-phone"></i></a>
        <a href="https://maps.app.goo.gl/9748p2FynF21fQUV8" class="location-btn" title="Location"><i
                class="fas fa-map-marker-alt"></i></a>
        <a href="https://wa.me/917558001212" class="whatsapp-btn" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
        <a href="https://www.instagram.com/aysha_clinic/?igsh=OWI1ZGQwYW8yamRv&utm_source=qr" class="instagram-btn"
            title="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/share/GwuYcw7v7MgPhJSG/?mibextid=JRoKGi" class="facebook-btn"
            title="Facebook"><i class="fab fa-facebook-f"></i></a>
    </div> --}}